body {
  font-family: Arial, sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  background-color: lightgray;
  font-weight: 14;
}

.container {
  display: flex;
  color: white;
  border-radius: 10px 10px 10px 10px;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
}

.sidebar {
  width: 250px;
  background-color: #0080FF;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 0px 10px 10px 0px;
}
	
img {
  max-width: 60%;
}